<br>
    @{
        ViewBag.Title = "Productos";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

<p>Puede revisar su carrito de compras en cualquier momento.</p>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Texto.</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Imagen completa</a>
        <a href="#" class="card-link">Agregar al carrito</a>
    </div>
</div>